@import "../variables";

 $rotateZ: 10deg;

@keyframes contentdown {
    to {transform: perspective($perspective) rotateX($rotateX) rotateY($rotateY) rotate($rotateZ) translateZ(20px);}
}
@keyframes bluedown {
    to {transform: perspective($perspective) rotateX($rotateX) rotateY($rotateY) rotate($rotateZ) translateZ(-60px);}
}
@keyframes darkbluedown {
    to {transform: perspective($perspective) rotateX($rotateX) rotateY($rotateY) rotate($rotateZ) translateZ(-90px);}
}

@keyframes ultradarkbluedown {
    to {transform: perspective($perspective) rotateX($rotateX) rotateY($rotateY) rotate($rotateZ) translateZ(-140px);}
}
.heading__title_container {
    width: 100%;

    display: grid;
    margin-bottom: 25px;
    // overflow: hidden;
    grid-template-columns: repeat(12, 1fr);
}
.heading__title__block {
    grid-column: 1 / span 9;
    grid-row: 1 / span 1;
    border-radius: 30px;
    padding: 11px 23px;
    transform: perspective($perspective) rotateX($rotateX) rotateY($rotateY) rotate($rotateZ);
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-box-shadow: 24px 11px 52px -22px rgba(0,0,0,1);
-moz-box-shadow: 24px 11px 52px -22px rgba(0,0,0,1);
box-shadow: 24px 11px 52px -22px rgba(0,0,0,1);
}

h3 {
    padding: 0;
    margin: 0;

}

h4 {
    padding: 0;
    margin: 0;
}

.content {
    background: #70f7bb;
    animation-name: contentdown;
    display: flex;
    align-items: center;
}

.ultradarkblue {
    background: black;
    transform: perspective($perspective) rotateX($rotateX) rotateY($rotateY) rotate($rotateZ) translateZ(-80px);
    order: -3;
    animation-name: ultradarkbluedown;
}


.darkblue{
    background: #2d4c96;
    transform: perspective($perspective) rotateX($rotateX) rotateY($rotateY) rotate($rotateZ) translateZ(-50px);
    order: -2;
    animation-name: darkbluedown;
}

.blue {
    background: #3b99c9;
    order: -1;
    animation-name: bluedown;
    transform: perspective($perspective) rotateX($rotateX) rotateY($rotateY) rotate($rotateZ) translateZ(-30px);
}