.footer {
    font-size: 14px;
    margin-top: 45px;
    padding: 23px;
    background: burlywood;
    color: white;
    text-align: center;
    border-radius: 23px;
}

.footer img {
    width: 49px;
    border-radius: 23px;
}